*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: beige;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table, th, td{
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
    border-radius: 5px;
}

th{
    background-color: rgb(255, 255, 166);
}
td{
    background-color: rgb(169, 255, 255);
    text-align: center;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0px;
  text-align: center;
  background-color: #380052;
}
.navbar a{
  float: left;
  color: #cc00ff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #5a0087;
  border-radius: 5px;
  transition: 0.3s ease;
}

.navbar a.active{
  background-color: #04AA6D;
  color: white;
}
li {
    float: left;
}
  
  li a {
    display: flex;
    color: rgb(255, 203, 126);
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}